<a href="https://colab.research.google.com/github/saharshhhh/DeepLearning/blob/main/Warranty_Claim.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras.models import Sequential

In [ ]:
data=pd.read_csv("/content/Warranty_Claim_Dataset.csv")

In [ ]:
data

,Region,State,Area,City,Consumer_profile,Product_category,Product_type,AC_1001_Issue,AC_1002_Issue,TV_2001_Issue,TV_2002_Issue,TV_2003_Issue,Claim_Value,Service_Centre,Product_Age,Purchased_from,Call_details,Purpose,Fraud
0,East,Tamil Nadu,Rural,Ranchi,Personal,Household,Refrigerator,0,0,0,0,1,18706,17,80,Online Store,0.8,Complaint,0
1,West,Jharkhand,Urban,Ranchi,Personal,Electronics,TV,0,0,0,1,0,46245,14,25,Manufacturer,3.0,Claim,0
2,West,Karnataka,Urban,Chennai,Business,Household,Microwave,0,0,1,0,0,12096,18,93,Dealer,4.7,Complaint,0
3,Central,Karnataka,Urban,Chennai,Business,Furniture,TV,1,1,0,1,1,9147,19,86,Dealer,2.7,Complaint,0
4,North East,Haryana,Rural,Mumbai,Personal,Entertainment,Refrigerator,1,1,0,1,1,15441,5,74,Dealer,3.4,Complaint,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100658,North,Delhi,Rural,Delhi,Personal,Furniture,Refrigerator,0,0,1,1,1,45503,10,21,Online Store,3.0,Complaint,0
100659,North East,Maharashtra,Rural,Delhi,Business,Electronics,TV,0,1,0,2,2,16989,14,85,Manufacturer,2.3,Claim,0
100660,North East,Tamil Nadu,Rural,Delhi,Business,Entertainment,AC,0,0,1,0,2,14069,5,118,Manufacturer,2.4,Claim,0
100661,Central,Jharkhand,Urban,Delhi,Personal,Household,Microwave,1,2,1,2,0,35455,7,101,Online Store,2.4,Claim,0
100662,West,Tamil Nadu,Urban,Chennai,Business,Entertainment,TV,1,2,0,2,2,39439,11,18,Manufacturer,1.9,Complaint,0

In [ ]:
df=pd.DataFrame(data)

In [ ]:
df.drop_duplicates(inplace=True)

In [ ]:
for i in df.columns:
  print(df[i].value_counts())

Region
North         16910
South         16837
West          16825
Central       16813
North East    16679
East          16599
Name: count, dtype: int64
State
Maharashtra    16897
Jharkhand      16889
Delhi          16804
Karnataka      16760
Haryana        16661
Tamil Nadu     16652
Name: count, dtype: int64
Area
Rural    50371
Urban    50292
Name: count, dtype: int64
City
Mumbai        16912
Bangalore     16898
Delhi         16778
Ranchi        16757
Chandigarh    16711
Chennai       16607
Name: count, dtype: int64
Consumer_profile
Personal    50381
Business    50282
Name: count, dtype: int64
Product_category
Furniture        25292
Entertainment    25197
Household        25120
Electronics      25054
Name: count, dtype: int64
Product_type
Microwave          20384
AC                 20222
TV                 20153
Refrigerator       19960
Washing Machine    19944
Name: count, dtype: int64
AC_1001_Issue
1    50505
0    50158
Name: count, dtype: int64
AC_1002_Issue
1    33744
2    33693
0    33226
Name: count, dtype: int64
TV_2001_Issue
1    50433
0    50230
Name: count, dtype: int64
TV_2002_Issue
0    33733
2    33491
1    33439
Name: count, dtype: int64
TV_2003_Issue
0    33654
2    33600
1    33409
Name: count, dtype: int64
Claim_Value
21562    11
36257    10
24303    10
12544    10
15779     9
         ..
12560     1
23868     1
28198     1
7421      1
13781     1
Name: count, Length: 40191, dtype: int64
Service_Centre
8     6816
9     6795
13    6794
11    6780
17    6752
14    6726
12    6715
19    6712
15    6699
10    6690
7     6679
18    6664
6     6657
5     6607
16    6577
Name: count, dtype: int64
Product_Age
93     933
76     929
78     903
104    896
96     893
      ...
89     802
28     798
94     796
109    795
61     795
Name: count, Length: 119, dtype: int64
Purchased_from
Manufacturer    33629
Online Store    33620
Dealer          33414
Name: count, dtype: int64
Call_details
2.4    2345
1.7    2325
1.5    2321
4.3    2310
0.7    2310
1.3    2305
0.6    2303
4.2    2291
3.5    2288
1.1    2287
4.7    2285
3.2    2277
3.4    2277
4.0    2274
3.0    2273
4.8    2265
3.6    2257
2.6    2251
0.9    2243
1.6    2242
2.1    2242
4.5    2233
1.0    2222
1.2    2221
3.8    2220
2.9    2218
4.9    2217
1.9    2216
2.8    2212
4.1    2210
3.7    2207
0.8    2204
3.3    2202
3.1    2201
1.8    2190
4.6    2186
2.3    2186
2.5    2184
1.4    2177
2.2    2175
3.9    2169
2.7    2146
4.4    2133
2.0    2124
0.5    1120
5.0    1119
Name: count, dtype: int64
Purpose
Complaint    50642
Claim        50021
Name: count, dtype: int64
Fraud
0    90697
1     9966
Name: count, dtype: int64

In [ ]:
for i in df.columns:
  print(f"{str(i)}",df[i].isnull().sum())

Region 0
State 0
Area 0
City 0
Consumer_profile 0
Product_category 0
Product_type 0
AC_1001_Issue 0
AC_1002_Issue 0
TV_2001_Issue 0
TV_2002_Issue 0
TV_2003_Issue 0
Claim_Value 0
Service_Centre 0
Product_Age 0
Purchased_from 0
Call_details 0
Purpose 0
Fraud 0

In [ ]:
df.shape

(100663, 19)

In [ ]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df_encoded=df.copy()
cat_cols=['Consumer_profile',	'Product_category',	'Product_type', 'Purchased_from', 'Purpose']
for i in cat_cols:
  df_encoded[i] = le.fit_transform(df_encoded[i])
df_encoded.shape

(100663, 19)

In [ ]:
from sklearn.preprocessing import OneHotEncoder
ohe=OneHotEncoder()
df_encoded=df.copy()
cat_cols=['Region',	'State',	'Area',	'City']
for i in cat_cols:
  df_encoded[i] = ohe.fit_transform(df_encoded[i])
df_encoded.shape

ValueError: Expected a 2-dimensional container but got <class 'pandas.core.series.Series'> instead. Pass a DataFrame containing a single row (i.e. single sample) or a single column (i.e. single feature) instead.

In [ ]:
for i in df.columns:
  plt.figure()
  sns.boxplot(data=df_encoded[i])
  plt.title(f'Boxplot of {i}')
  plt.show()

In [ ]:
df_encoded

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
sns.heatmap(df_encoded,annot=True)

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
df_encoded['Claim_Value']=scaler.fit_transform(df_encoded[['Claim_Value']])

In [ ]:
y=df_encoded['Fraud']
X=df_encoded.drop('Fraud',axis=1)

In [ ]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [ ]:
df_encoded

In [ ]:
from keras.layers import Dense,Dropout
model= Sequential()
model.add(Dense(32, activation='relu', input_shape=(18,)))
model.add(Dropout(0.1))
model.add(Dense(64, activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(128, activation='relu'))
model.add(Dropout(0.3))
model.add(Dense(256, activation='relu'))
model.add(Dropout(0.4))
model.add(Dense(1, activation='sigmoid'))

In [ ]:
from keras.callbacks import EarlyStopping
early_stop=EarlyStopping(monitor='val_loss',mode='min',verbose=1,patience=3)

In [ ]:
model.compile(optimizer='adam',loss='binary_crossentropy', metrics=['accuracy'])

In [ ]:
hist = model.fit(X_train, y_train, epochs=25, batch_size=32, validation_split=0.2, callbacks=[early_stop])

In [ ]:
model.evaluate(X_test,y_test)

In [ ]:
model.evaluate(X_train,y_train)